body {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
}

.yss-header {
  width: 100%;
  background: gray;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.yss-container {
  padding: 40px 0;
  max-width: 1140px;
  margin: 0 auto;
  @media only screen and (max-width: 767px) {
    padding: 10px;
  }
}


.yss-navigation-container {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  background: #d2d2d2;
  z-index: 99;
}

.yss-active {
  color: red;
}
