//=============================================================================
// COLORS
//=============================================================================

$black:                   #000000;
$mine:                    #191b23;
$silver:                  #b3b3b3;
$dust:                    #f3f3f3;
$white:                   #ffffff;



//=============================================================================
// FONTS
//=============================================================================

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:700,800);

$tite:                    'Open Sans', sans-serif;
$text:                    'Droid Serif', serif;


