//=============================================================================
// COLORS
//=============================================================================

$black:                   #000000;
$mine:                    #1d1d23;
$silver:                  #b3b3b3;
$dust:                    #ebebeb;
$white:                   #ffffff;

$fire:                    #e67e22;



//=============================================================================
// FONTS
//=============================================================================

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

$text:                   'Open Sans', sans-serif;


